body { 
  background-color: #ffffff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA3L2xyL25hc2EwMDAwMS1pbWFnZS5qcGc.jpg");
    background-size: cover;
    color: #ffffff;
     background-repeat: repeat-y;
}

img {
  margin: 20px;
  background-color: black;
  
}
 
.glow {
  transition: box-shadow 0.3s ease-in-out;
}

img:hover {
  /* Syntax: h-offset v-offset blur spread color */
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7);
}
